.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles */
.App {
  background: #002db3;
  color: white;
}

.taskgroups{
  display: flex;
  justify-content: space-evenly;
}
.header-group{
  display: flex;
  justify-content: space-evenly;
}

.taskgroups span{
  margin-right: 25px;
}

button{
  background: #b3d9ff;
  color: black;
  padding: 10px;
  border-radius: 8px;
  margin: 5px;
}
.input-group input{
  width: 50%;
  padding: 10px;
  border-radius: 8px;
}

.input-group{
  margin: 10px;
}

input{
  outline: none;
}

input::placeholder{
  color:blue;
}